a:hover,
a:focus {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
    margin-bottom: 20px;
}

.wrap {
    width: 100%;    
    margin: 0 auto;
}

.wrap:after {
    content: "";
    display: table;
    clear: both;
}