html {
    font-size: 16px;
    font-size: 62.5%;    
}

body {    
    font-family: 'Myriad Pro', Arial, Helvetica, sans-serif; 
    /* font-family: 'Roboto', sans-serif; */
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.3;    
}

a:hover,
a:focus {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
    margin-bottom: 20px;
}

.wrap {
    width: 100%;    
    margin: 0 auto;
}

.wrap:after {
    content: "";
    display: table;
    clear: both;
}

.vcenter {
    display: table-cell !important;
    vertical-align: middle;
}